header {
}

nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: skyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > strong {
  font-size: 24px;
  font-weight: 700;
}

nav > li {
  display: flex;
}

nav > ul > li {
  padding: 20px 40px;
  transition: all 0.55s;
}

nav > ul > li:hover {
  color: white;
  background-color: black;
}
