.photo {
  margin-left: 20px;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.photo > img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
