.container {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

.box {
  width: 300px;
  height: 300px;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.mini {
  width: 100px;
  height: 100px;
  background-color: grey;
}
