.home {
  background-color: black;
  width: 200px;
  color: white;
  padding: 15px 0px 15px 10px;
  margin-bottom: 5px;
}

.aboutus {
  background-color: black;
  width: 200px;
  color: white;
  padding: 15px 0px 15px 10px;
  margin-bottom: 5px;
}

.contactus {
  background-color: black;
  width: 200px;
  color: white;
  padding: 15px 0px 15px 10px;
  margin-bottom: 5px;
}

.portfolio {
  background-color: black;
  width: 200px;
  color: white;
  padding: 15px 0px 15px 10px;
  margin-bottom: 5px;
}

.signin {
  background-color: black;
  width: 200px;
  color: white;
  padding: 15px 0px 15px 10px;
  margin-bottom: 5px;
}
